.Editor {
    border-radius: 4px;
    background-color: #dcdcdc;
    width: 600px;
    height: 600px;
    margin: 50px;
    padding: 20px;
    /*
    여기 relative 기준으로 yoga node가 화면에서의
    left, top, width, height를 구해주고,
    그걸 화면에다가 보여주면 된다.
    */
    position: relative;
}

.box {
    box-shadow: var(--box-border-size) 0 0 0 var(--box-border-color),
    0 var(--box-border-size) 0 0 var(--box-border-color),
    var(--box-border-size) var(--box-border-size) 0 0 var(--box-border-color),
    var(--box-border-size) 0 0 0 var(--box-border-color) inset,
    0  var(--box-border-size) 0 0 var(--box-border-color) inset;
    position: absolute;
    background-color: white;
    word-break: break-all;
    overflow: hidden;
}
