.Editor {
    border-radius: 4px;
    background-color: #dcdcdc;
    width: 600px;
    height: 600px;
    margin: 50px;
    padding: 20px;
    /*
    여기 relative 기준으로 yoga node가 화면에서의
    left, top, width, height를 구해주고,
    그걸 화면에다가 보여주면 된다.
    */
    display: flex;
    justify-content: center;
    align-items: center;
}

.BoxWrapper{
    position:relative;
}

.Box {
    box-shadow: var(--box-border-size) 0 0 0 var(--box-border-color),
    0 var(--box-border-size) 0 0 var(--box-border-color),
    var(--box-border-size) var(--box-border-size) 0 0 var(--box-border-color),
    var(--box-border-size) 0 0 0 var(--box-border-color) inset,
    0 var(--box-border-size) 0 0 var(--box-border-color) inset;
    position: absolute; /* 하위 Box는 또 부모를 기준으로 layout된다. */
}

.selected {
    box-shadow: var(--box-border-size-hover) 0 0 0 var(--box-border-color-hover),
    0 var(--box-border-size-hover) 0 0 var(--box-border-color-hover),
    var(--box-border-size-hover) var(--box-border-size-hover) 0 0 var(--box-border-color-hover),
    var(--box-border-size-hover) 0 0 0 var(--box-border-color-hover) inset,
    0 var(--box-border-size-hover) 0 0 var(--box-border-color-hover) inset;
}

.Barcode {
    width: 100%;
    height: 100%;
}