.sideBar {
  width: 300px;
  border: 1px solid black;
}

.inputPartition {
  border: 1px solid black;
  margin: 20px;
}

.selectedOption {
  background-color: gray;
}

.unSelectedOption {
  background-color: white;
}
