.editor {
  border-radius: 4px;
  background-color: #e5e5e5;
  width: 600px;
  height: 600px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
