@import-normalize;
@import 'react-tabs/style/react-tabs.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --box-border-size: 1px;
  --box-border-color: rgb(48 56 69 / 20%);
  --box-border-size-hover: 2px;
  --box-border-color-hover: #68cfbb;
}

#modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
