@import-normalize;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --box-border-size: 0.1px;
  --box-border-color: black;
  --box-border-size-hover: 0.2px;
  --box-border-color-hover: blue;
}